@model Message
@{
    ViewData["Title"] = "Message";
}
<h2>Message form</h2>

<form method="post">
    <label for="to">To</label>
    <input id="to" name="Receiver"><br>
    <label>From</label>
    <input id="from" name="Sender"><br>
    <label>Priority</label>
    <input name="Priority">
    <label>Subject</label>
    <input name="Title">
    <label>Message</label>
    <input name="Body">
    <input type="submit">
</form>