@model Message
@{
    ViewData["Title"] = "Message";
}
<h2>Message form</h2>

<form method="post">
    <label asp-for="Receiver.UserName">To</label>
    <input asp-for="Receiver.UserName"><br>
    <!--VS autocompletes 'for' to 'asp-for', so I just used that for convenience-->
    <label asp-for="Sender.UserName">From</label>
    <input asp-for="Sender.UserName"><br>
    <label asp-for="Priority">Priority</label>
    <input asp-for="Priority"><br>
    <label asp-for="Title">Subject</label>
    <input asp-for="Title"><br>
    <label asp-for="Body">Message</label>
    <input asp-for="Body"><br>
    <input type="submit">
</form>