@model Message
@{
    ViewData["Title"] = "Message";
}
<h2>Message form</h2>

<form method="post">
    <label asp-for="Receiver">To</label>
    <input asp-for="Receiver"><br>
    <!--VS autocompletes 'for' to 'asp-for', so I just used that for convenience-->
    <label asp-for="Sender">From</label>
    <input asp-for="Sender"><br>
    <label asp-for="Priority">Priority</label>
    <input asp-for="Priority">
    <label asp-for="Title">Subject</label>
    <input asp-for="Title">
    <label asp-for="Body">Message</label>
    <input asp-for="Body">
    <input type="submit">
</form>