@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Message";
}
<h2>Message form</h2>
This will be the form to send a message to the message board, but not yet.